.bg-light {
    background-color: white !important;
}
.logo{
    width: 10%;
}
.topbtn{
    position: relative;
    left: 50%;
}
.cos{
    width: 50vw;
    position: absolute;
    left: 30%;
    top: 20%;
}
.disco{
    position: absolute;
    left: 50vw;
    top: 40vw;
}
.cat{
    position: absolute;
    top:95%;
    left: 5vw;

}
.btncat{
    width: 10%;
    position: absolute;
    top: 102%;
    left: 5%;
}
.btnbox{
    margin: 2%;
    width: 8vw;
}
.btnboxh{
    margin: 2%;
    width: 8vw;
    background-color: #F8F8F8;
    border-color: #707070;
    border-radius: 15px;
}
.btncat1{
    width: 12%;
    position: absolute;
    top: 102%;
    left: 5%;
    text-align: center;
    background-color: #bdbdbd;
    border-radius: 15px;

}
.btnboxcat1{
    margin: 3%;
    width: 8vw;

}
.fontcat{
    font-size: 1rem;
    color: white;
}
.fontcat:hover{
    color: white;
}

.fontcath{
    color: #707070;
    font-size: 1rem;
}